body {
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_4
{
	margin:0px auto;
	width: 99%;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4 {
	display: block;
	float: left;
	margin-left: 2.08%;
	margin-right: 2.08%;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 4 Columns
--------------------------------------------------------------------------------*/
.container_4 .grid_1 {width: 20.83%;}
.container_4 .grid_2 {width: 45.83%;}
.container_4 .grid_3 {width: 89.47%;}
.container_4 .grid_4 {width: 95.83%;}

/* =Prefix Extra Space >> 4 Columns
--------------------------------------------------------------------------------*/
.container_4 .prefix_1 {padding-left: 25%;}
.container_4 .prefix_2 {padding-left: 50%;}
.container_4 .prefix_3 {padding-left: 75%;}

/* =Suffix Extra Space >> 4 Columns
--------------------------------------------------------------------------------*/
.container_4 .suffix_1 {padding-right: 25%;}
.container_4 .suffix_2 {padding-right: 50%;}
.container_4 .suffix_3 {padding-right: 75%;}

/* `Push Space >> 4 Columns
--------------------------------------------------------------------------------*/
.container_4 .push_1 {left: 25%;}
.container_4 .push_2 {left: 50%;}
.container_4 .push_3 {left: 75%;}

/* `Pull Space >> 4 Columns
--------------------------------------------------------------------------------*/
.container_4 .pull_1 {left: -25%;}
.container_4 .pull_2 {left: -50%;}
.container_4 .pull_3 {left: -75%;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}
