.color1 { color: #247ba0; }
.color2 { color: #7cce39; }
.color3 { color: #ffffff; }
.color4 { color: #006699; }
.color5 { color: #b2dbbf; }

.fondocolor1 { background: #247ba0; }
.fondocolor2 { background: #7cce39; }
.fondocolor3 { background: #ffffff; }
.fondocolor4 { background: #4bc6b9; }
.fondocolor5 { background: #b2dbbf; }
